services:
  - type: web
    name: yourapp
    runtime: go
    buildCommand: bash build.sh
    startCommand: ./bin/server
    envVars:
      - key: PORT
        value: 8080
      - key: DATABASE_URL
        fromDatabase:
          name: yourapp-db
          property: connectionString

  - type: pserv
    name: yourapp-db
    ipAllowList: [] # Allow internal traffic only by default
    plan: starter
    postgreSQLVersion: "16"
